<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>hello world</h1>
        <ul>
            <li>
                <a href="http://example.com/some-page" ping="/stats?a=123&b=abc">link 1</a>
            </li>
            <li>
                <a href="http://example.com/another-page" ping="/stats?x=you+clicked+link+2">link 2</a>
            </li>
            <li>
                <a href="http://example.com/whatever-page" ping="/stats?query=you+can+do+whatever+you+want">link 3</a>
            </li>
            <li>
                <a href="http://example.com/something-else" ping="/stats?asdf=fdsa&zxcv=vcxz">link 4</a>
            </li>
        </ul>
    </body>
</html>
